HELP.md

# Build
target/
build/
*.jar
*.war
*.class

# Maven
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

# IDE
### IntelliJ ###
.idea/
*.iws
*.iml
*.ipr

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# Env
.env
*.env.*
src/main/resources/application.properties

# Security
*.key
*.pem
*.p12